/* Whole HTML Body */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 15px;
}



/* Header and header Image */
.header_container {
    position: relative;
    height: 250px;
}

#header_image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 0 0 150px 20px;
    filter: contrast(0.5);
}

#header_title {
    color: white;
    position: absolute;
    top: 40%;
    left: 30%;
}

/* Navigation Bar */
.navigation_bar {
    background-color: transparent;
    overflow: hidden;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: flex;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
}

.navigation_page_information {
    display: flex;
    align-items: center;
    margin-right: 10%;
    position: static;
}

#navigation_website_logo {
    width: 25px;
    height: 25px;
    padding: 5px;
}

.fa-caret-down {
    font-size: 11px;
}

#navigation_website_title {
    color: white;
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
}

.navigation_bar #navigation_link {
    color: white;
    border-right: solid white 0.5px;
    padding-right: 12px;
    padding-left: 12px;
    text-decoration: none;
    text-align: center;
    justify-self: center;
}

.navigation_bar #navigation_link:hover {
    color: black;
}

.navigation_bar #navigation_link_button:last-child {
    border-right: none;
}

.navigation_bar #navigation_selection {
    color: white;
    border-right: solid white 0.5px;
    padding-right: 10px;
    padding-left: 10px;
}


.navigation_bar #navigation_links_container {
    margin-left: 30%;
    display: flex;

}

.navigation_bar select {
    padding-right: 10px;
    padding-left: 10px;
    margin: 5px;
    appearance: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    text-align: center;
    border-right: solid white 0.5px;
}

.navigation_bar select:hover {
    color: black;
}

/* Navigation Drop Down Options */


#navigation_link_button {
    color: white;
    border: none;
    border-right: solid white 0.5px;
    padding-right: 12px;
    padding-left: 12px;
    text-decoration: none;
    text-align: center;
    justify-self: center;
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
}


.navigation_drop_down {
    overflow: hidden;
}

.navigation_drop_down_container {
    display: none;
    position: fixed;
    background-color: white;
    width: max-content;
    height: max-content;
    z-index: 1;
    border-radius: 10px;
    margin-top: 1px;
}

.navigation_drop_down_container #navigation_dropdown_links {
    border: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
    background-color: transparent;
}

.navigation_drop_down #navigation_dropdown_links:hover {
    color: #008BD1;

}

.navigation_drop_down:hover .navigation_drop_down_container {
    display: block;
}


/* main content */
.main_page_content {
    display: grid;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 25px;
    margin-bottom: 30px;
}


/* Bundle information */
.bundle_details_information{
    margin-bottom: 10px;
}

.bundle_details_information > h1{
    margin: 0;
}

.new_esim_information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #008BD1;
    margin: 10px;
}

#new_esim {
    text-align: left;
    font-size: 12px;
}

#top_up_esim {
    text-decoration: none;
    text-align: right;
    color: #008BD1;
    font-size: 12px;
    font-weight: bold;
}

#number_of_countries {
    margin-left: 10px;

}

#bundle_detail_title,
#bundle_detail_description {
    margin-left: 10px;
}

#bundle_detail_title {
    margin-bottom: 0;
}

#bundle_detail_description {
    margin-top: 7px;
}

#embedded_text_link {
    text-decoration: none;
    color: #008BD1;
}



/* Bundle Pricing Details */
#main_bundles_available_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    color: #008BD1;
}

#bundles_container {
    display: flex;
    text-align: center;
    color: rgb(0, 139, 209);
    justify-content: center;
    align-items: self-end;
    margin-bottom: 10px;
}


.bundle_recommendation {
    margin: 10px;
    margin-top: 0;
    color: white;
    background-color: #008BD1;
    border-radius: 10px;
    padding-top: 10px;
    font-size: 15px;
    border: none;
    padding: 0px;
    display: grid;
    width: 100%;
}


.recommended_bundles_details {
    border: 1px solid #008BD1;
    border-radius: 10px;
    margin: 0;
    margin-top: 0;
    background-color: white;
    width: 100%;
}


.bundles_details {
    border: 1px solid #008BD1;
    border-radius: 10px;
    margin: 10px;
    margin-top: 0;
    background-color: white;
    width: 100%;

}

.bundles_details:hover,
.recommended_bundles_details:hover {
    background-color: #F0F9FC;
}


.fa-database {
    color: #008BD1;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

#bundle_size_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.bundle_size {
    color: #008BD1;
    font-size: 18px;
    margin: 0;
    margin-left: 5px;
}

.bundle_price {
    margin: 10px;
    color: #008BD1;
    font-size: 23px;
}

.bundle_duration {
    font-size: 15px;
    color: #464646;
    position: relative;
}


/* User prices footer */
#total_price_footer {
    border: solid 1px lightgray;
    box-shadow: 0px 0px 0.5px 0px;
    background-color: white;
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

}

#total_price_footer_left {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-left: 10px;
}

.total_price_footer_container {
    width: 100%;
    display: flex;
    bottom: 0;
    position: fixed;
    justify-content: center;
}

#total_price_footer_right {
    margin-right: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
}

#current_selection {
    font-size: 12px;
}

#current_selection_sim_details {
    font-size: 25px;
    margin: 0px;
    font-weight: bold;
}

#buy_now_button {
    border: none;
    color: white;
    background-color: #008BD1;
    background-image: linear-gradient(to right, #008BD1, #00BDE4);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    min-width: 125px;
}

/* Frequently asked questions */
.frequently_asked_questions {
    padding: 20px;
    padding-left: 13%;
    padding-right: 13%;
    justify-content: center;
    background-color: #FAFAFA;
}

#frequently_asked_questions_grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

#frequently_asked_questions_title {
    text-align: center;
    font-size: 35px;
}

.questions_title {
    border: solid 0.5px #E2E2E2;
    background-color: white;
    border-radius: 12px;
    margin: 5px;
    padding: 12px;
    font-size: 15px;
}

.fa-chevron-down{
    float: right;
    color: #464646;
}

#view_more_link_container {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

#view_more_link {
    color: #008BD1;
    text-decoration: none;
}

#view_more_link:hover {
    color: black;
}

.questions_answer {
    border: solid 0.5px #E2E2E2;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

/* Footer */
footer {
    background-color: black;
    display: block;
    grid-template-rows: repeat(2, 1fr);
    color: white;
    font-size: 15px;
}


.footer_section_one {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-right: 15%;
    padding-left: 15%;
}

#footer_website_logo_container {
    display: flex;
    align-items: center;
}

#footer_website_title {
    font-size: 25px;
    font-weight: bold;
}

#footer_website_logo {
    font-size: 40px;
    color: white;
    padding: 0;
}

.fa {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.devicon-twitter-original,
.devicon-facebook-plain,
.devicon-linkedin-plain {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: white;
}

.devicon-facebook-plain {
    margin-left: 0px;
}

#footer_section_one_column {
    margin: 20px;
}

#footer_links_heading {
    color: white;
    padding: 0px;
    font-size: 15px;
}

#footer_links {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 10px;
    font-size: 15px;
}


.footer_section_two {
    background-color: black;
    border-top: white 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 15%;
    padding-left: 15%;
    font-size: 12px;
    color: white;
}

#footer_section_two_column {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer_section_two_column_links_container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer_section_two_links {
    color: white;
    text-decoration: none;
    display: inline;
    border-right: solid white 0.5px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}

#footer_section_two_links:last-child {
    border-right: none;
}